body {
  text-align: center;
  background-image: url('http://paperlief.com/images/inside-airport-window-wallpaper-3.jpg');
  background-repeat: no-repeat;
  background-attachment: : fixed;
  background-position: fixed:
}

h1 {
  color: #ffff00;
  font-size: 75px;
}

p {
    color: #ffff00;
    font-size: 45px;
}

input {
  height: 40px;
  width: 400px;
}

button {
  height: 40px;
  width: 80px;
}
