body {
  text-align: center;
  background-image: url('http://paperlief.com/images/inside-airport-window-wallpaper-3.jpg');
  background-repeat: no-repeat;
  background-attachment: : fixed;
  background-position: fixed:
}

h1 {
  color: #ff9900;
  font-size: 50px;
}

p {
    color: #ff9900;
    font-size: 30px;
}
